.Main-app-cursor{
    z-index: 1000;
    border-radius: 50%;
    pointer-events: none;
    /* background-color: black; */
    border: solid black 1px;
    overflow: hidden; 
    transform: translate3d(0,0,0);
    position: fixed;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0% {
        width: 2px;
        height: 2px;
    }
    50% {
        width: 10px;
        height: 10px;
    }
    100% {
        width: 2px;
        height: 2px;
    }


    /* from {background-color: red;}

    to {background-color: yellow;} */
  }

